## CLIENT
# Dist Directory
/client/dist
# Node modules
/client/node_modules
# Bower components
/client/src/components

## Server
# Node modules
/server/node_modules

## Credentials
/tests/inputs
/client/config.js
