<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-cogs"></i>
				</div>
                <div class="title" ng-if="cluster">{{cluster.statistics.jobs.total}}</div>
                <div class="title" ng-if="!cluster">-</div>
				<div class="comment">Jobs
                    <pie-chart ng-if="cluster" style="min-height:190px;" data="jobs.data" options="jobs.options"></pie-chart>
                </div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-circle-o"></i>
				</div>
                <div class="title" ng-if="cluster">{{cluster.statistics.nodes.total}}</div>
                <div class="title" ng-if="!cluster">-</div>
				<div class="comment">Noeuds
                    <pie-chart ng-if="cluster" style="min-height:190px;" data="nodes.data" options="nodes.options"></pie-chart>
                </div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title" ng-if="cluster">{{cluster.statistics.cpus.total}}</div>
                <div class="title" ng-if="!cluster">-</div>
				<div class="comment">CPUs
                    <pie-chart ng-if="cluster" style="min-height:190px;" data="cpus.data" options="cpus.options"></pie-chart>
                </div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-tasks"></i>
				</div>
                <div class="title" ng-if="cluster">{{cluster.statistics.partitions.total}}</div>
                <div class="title" ng-if="!cluster">-</div>
				<div class="comment">Partitions
                    <div  ng-if="cluster" style="max-height: 200px;overflow: auto;width: 100%;margin-top: 20px;">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th> Nom
                                    </th>
                                    <th> Noeuds
                                    </th>
                                </tr>
                                <tr ng-repeat="(partitionName, partition) in cluster.partitions">
                                    <td>
                                        <span style="margin-left:6px;">{{partitionName}}</span>
                                    </td>
                                    <td>
                                        <span style="margin-left:6px;">{{partition.length}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<pre>{{messageOfTheDay}}</pre>
	</div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <rd-widget>
            <rd-widget-header icon="fa-clone" title="Actions">
            </rd-widget-header>
            <rd-widget-body>
        		<a class="btn btn-primary btn-lg" href="#/jobs"><span class="fa fa-tasks"></span> Voir vos jobs</a>
                <a class="btn btn-primary btn-lg" href="#/browser"><span class="fa fa-files-o"></span>  Voir vos fichiers</a>
                <p style="font-size:13px;"> <br/>Pour retrouver ces actions depuis le menu à gauche, cliquez sur l'icône <span class="menu-icon glyphicon glyphicon-transfer"></span> en haut à gauche</p>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
