<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<pre>{{messageOfTheDay}}</pre>
	</div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <rd-widget>
            <rd-widget-header icon="fa-clone" title="Actions">
            </rd-widget-header>
            <rd-widget-body>
        		<a class="btn btn-primary btn-lg" href="#/jobs"><span class="fa fa-tasks"></span> Voir vos jobs</a>
                <a class="btn btn-primary btn-lg" href="#/browser"><span class="fa fa-files-o"></span>  Voir vos fichiers</a>
                <p style="font-size:13px;"> <br/>Pour retrouver ces actions depuis le menu à gauche, cliquez sur l'icône <span class="menu-icon glyphicon glyphicon-transfer"></span> en haut à gauche</p>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
