<div data-ng-controller="JobCtrl">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Général">
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <p style="margin:10px;">

                        <swa-job-state ng-show="job.jobState" state="{{job.jobState}}" description="true"></swa-job-state> <b>{{job.jobName}}</b> ({{job.id}})
                    </p>
                    <p style="margin:10px;">
                        <button class="btn btn-sm btn-danger" ng-click="cancel()" ng-disabled="job.userName != user.username || job.jobState != 'RUNNING'"> <i class="fa fa-ban"></i> Annuler</button>
                        <!--<button class="btn btn-sm btn-success"> <i class="fa fa-external-link"></i> Relancer</button>-->
                    </p>
                    <table class="table">
                        <tr>
                            <th> <i class="fa fa-user"></i> Utilisateur </th><td> {{job.userName}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-sign-out"></i> Stantard out </th><td> {{job.stdOut}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-sign-out"></i> Standard error </th><td> {{job.stdErr}}</td>
                        </tr>
                        <!--<tr>
                            <th> <i class="fa fa-clock-o"></i> Remaining time </th><td> 10:05:43</td>
                        </tr>-->
                    </table>


                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Noeuds/CPU">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <img class="noborder" id="graph_img_hour" style="margin-top:5px;max-width:100%;" title="Last hour" src="https://baobabmaster.unige.ch/ganglia2/graph.php?r=hour&amp;z=large&amp;h=node001.cluster&amp;m=load_one&amp;s=by+name&amp;mc=2&amp;g=mem_report&amp;c=Baobab">
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Standard out">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <tr>
                    <div ng-show="fileStdOut.modified" style="margin-top:10px;" class="alert alert-warning">
                        Le fichier à été entièrement modifié
                        <button class="btn btn-primary btn-xs"
                            ng-click="viewFileRefresh(fileStdOut)">
                            <i class="fa fa-refresh"></i> Actualiser
                        </button>
                    </div>
                    <div ng-show="fileStdOut.not_exist" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier n'existe pas ou vous n'avez pas les droits
                    </div>
                    <div ng-show="fileStdOut.too_big" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier est trop volumineux
                    </div>
                    <pre ng-hide="fileStdOut.too_big || fileStdOut.not_exist"><code style="">{{fileStdOut.content}}</code></pre>

                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Standard err">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <tr>
                    <div ng-show="fileStdErr.modified" style="margin-top:10px;" class="alert alert-warning">
                        Le fichier à été entièrement modifié
                        <button class="btn btn-primary btn-xs"
                            ng-click="viewFileRefresh(fileStdErr)">
                            <i class="fa fa-refresh"></i> Actualiser
                        </button>
                    </div>
                    <div ng-show="fileStdErr.not_exist" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier n'existe pas ou vous n'avez pas les droits
                    </div>
                    <div ng-show="fileStdErr.too_big" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier est trop volumineux
                    </div>
                    <pre ng-hide="fileStdErr.too_big || fileStdErr.not_exist"><code style="">{{fileStdErr.content}}</code></pre>

                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
