<div data-ng-controller="JobCtrl">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Général">
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <p style="margin:10px;">

                        <swa-job-state ng-show="job.jobState" state="{{job.jobState}}" description="true"></swa-job-state> <b>{{job.jobName}}</b> ({{job.id}})
                    </p>
                    <p style="margin:10px;">
                        <button class="btn btn-sm btn-danger" ng-click="cancel()" ng-disabled="job.userName != user.username || (job.jobState != 'RUNNING' && job.jobState != 'PENDING')"> <i class="fa fa-ban"></i> Annuler</button>
                    </p>
                    <table class="table">
                        <tr>
                            <th> <i class="fa fa-user"></i> Utilisateur </th><td> {{job.userName}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-sign-out"></i> Partition </th><td> {{job.partition}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-clone"></i> Nb CPU </th><td> {{job.cPUsTask}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-sign-out"></i> Stantard out </th><td> {{job.stdOut}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-sign-out"></i> Standard error </th><td> {{job.stdErr}}</td>
                        </tr>
                        <!--<tr>
                            <th> <i class="fa fa-clock-o"></i> Remaining time </th><td> 10:05:43</td>
                        </tr>-->
                    </table>


                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Details">
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <table class="table">
                        <tr>
                            <th> <i class="fa fa-bell"></i> Time Limit </th><td> {{job.timeLimit}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-circle-o"></i> Nodes </th><td> {{job.nodeList}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-cogs"></i> Command </th><td> {{job.command}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-folder"></i> Work directory </th><td> {{job.workDir}}</td>
                        </tr>
                        <tr>
                            <th> <i class="fa fa-bug"></i> Exit code </th><td> {{job.exitCode}}</td>
                        </tr>
                        <tr ng-show="job.jobState == 'PENDING'">
                            <th> <i class="fa fa-clock-o"></i> Temps prévu </th>
                            <td class="td-timer">
                                <span ng-show="job.startTime && job.startTime!='Unknown'">
                                    <timer end-time="job.startTime.toString()*1000" interval="1000">
                                        <span ng-show="days">{{days}}j</span>
                                        <span ng-show="hours">{{hhours}}h</span>
                                        <span ng-show="minutes">{{mminutes}}m</span>
                                        <span ng-show="seconds">{{sseconds}}s</span>
                                    </timer>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped"
                                        role="progressbar"
                                        style="height: 30px;width: {{100-(((job.startTime*1)-(timestamp*1)) / ((job.startTime*1) - (job.submitTime*1))*100)|number:0}}%;">
                                            <span>{{100-(((job.startTime*1)-(timestamp*1)) / ((job.startTime*1) - (job.submitTime*1))*100)|number:0}}% </span>
                                        </div>
                                    </div>
                                </span>
                                <span ng-hide="job.startTime && job.startTime!='Unknown'">?</span>
                            </td>
                        </tr>
                        <tr ng-show="job.jobState == 'RUNNING'">
                            <th> <i class="fa fa-clock-o"></i> Temps restant </th>
                            <td class="td-timer">
                                <span ng-show="job.endTime && job.endTime != 'Unknow'">
                                    <timer end-time="job.endTime.toString()*1000" interval="1000">
                                        <span ng-show="days">{{days}}j</span>
                                        <span ng-show="hours">{{hhours}}h</span>
                                        <span ng-show="minutes">{{mminutes}}m</span>
                                        <span ng-show="seconds">{{sseconds}}s</span>
                                    </timer>
                                </span>
                                <span ng-hide="job.endTime && job.endTime != 'Unknow'">?</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                    role="progressbar"
                                    style="height: 30px;width: {{(((timestamp*1)-(job.startTime*1)) / ((job.endTime*1) - (job.startTime*1))*100)|number:0}}%;">
                                        <span>{{(((timestamp*1)-(job.startTime*1)) / ((job.endTime*1) - (job.startTime*1))*100)|number:0}}% </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="job.jobState == 'RUNNING'">
                            <th> <i class="fa fa-clock-o"></i> Temps passé </th>
                            <td class="td-timer">
                                <span ng-show="job.startTime">
                                    <timer start-time="job.startTime.toString()*1000" interval="1000">
                                        <span ng-show="days">{{days}}j</span>
                                        <span ng-show="hours">{{hhours}}h</span>
                                        <span ng-show="minutes">{{mminutes}}m</span>
                                        <span ng-show="seconds">{{sseconds}}s</span>
                                    </timer>
                                </span>
                                <span ng-hide="job.startTime">?</span>
                            </td>
                        </tr>
                    </table>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Standard out">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <tr>
                    <div ng-show="fileStdOut.modified" style="margin-top:10px;" class="alert alert-warning">
                        Le fichier à été entièrement modifié
                        <button class="btn btn-primary btn-xs"
                            ng-click="viewFileRefresh(fileStdOut)">
                            <i class="fa fa-refresh"></i> Actualiser
                        </button>
                    </div>
                    <div ng-show="fileStdOut.not_exist" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier n'existe pas ou vous n'avez pas les droits
                    </div>
                    <div ng-show="fileStdOut.too_big" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier est trop volumineux
                    </div>
                    <pre ng-hide="fileStdOut.too_big || fileStdOut.not_exist"><code style="">{{fileStdOut.content}}</code></pre>

                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-header icon="fa-sign-out" title="Standard err">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <tr>
                    <div ng-show="fileStdErr.modified" style="margin-top:10px;" class="alert alert-warning">
                        Le fichier à été entièrement modifié
                        <button class="btn btn-primary btn-xs"
                            ng-click="viewFileRefresh(fileStdErr)">
                            <i class="fa fa-refresh"></i> Actualiser
                        </button>
                    </div>
                    <div ng-show="fileStdErr.not_exist" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier n'existe pas ou vous n'avez pas les droits
                    </div>
                    <div ng-show="fileStdErr.too_big" style="margin-top:10px;" class="alert alert-danger">
                        Le fichier est trop volumineux
                    </div>
                    <pre ng-hide="fileStdErr.too_big || fileStdErr.not_exist"><code style="">{{fileStdErr.content}}</code></pre>

                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
