<div data-ng-controller="JobsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Jobs">
                    <i class="fa fa-user" style="margin-right: 13px;"></i>
                    <div class="btn-group">
                        <label class="btn btn-xs btn-primary" ng-model="search.jobsOwner" btn-radio="'my'" >Moi</label>
                        <label class="btn btn-xs btn-primary" ng-model="search.jobsOwner" btn-radio="'all'" >Tous</label>
                    </div>
                    <br/>
                    <i class="fa fa-filter" style="margin-right: 13px;"></i>
                    <div class="btn-group">
                        <label class="btn btn-xs btn-primary" ng-model="search.jobsType" btn-radio="'all'" >Tous</label>
                        <label class="btn btn-xs btn-primary" ng-model="search.jobsType" btn-radio="'pending'" >En attente</label>
                        <label class="btn btn-xs btn-primary" ng-model="search.jobsType" btn-radio="'running'" >En cours</label>
                    </div>
                    <br/>
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="search.query" placeholder="Recherche" class="form-control input-sm" style="display: inline;max-width: 100px;padding:5px;" />
                </rd-widget-header>
                <rd-widget-body classes="no-padding">
                    <div class="table-responsive">
                        <table class="table table-hover" ng-show="jobs.length">

                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Name </th>
                                    <th>User</th>
                                    <th>Partition</th>
                                    <th ng-show="search.jobsType == 'pending'">Estimated<br/>start time</th>
                                    <th ng-show="search.jobsType == 'running'">Remaining<br/>time</th>
                                    <th ng-show="search.jobsType == 'running'">Elapsed<br/>time</th>
                                    <th>Nb<br/>CPU</th>
                                    <th ng-show="search.jobsType == 'running'">Nodes</th><!-- -->
                                </tr>
                                <tr ng-repeat="job in filteredJobs = (jobs | filter: (search.jobsType == 'running' || '') && {state:'RUNNING'} | filter: (search.jobsType == 'pending' || '') && {state:'PENDING'} | filter: (search.jobsOwner == 'my' || '') && {username:user.username} | filter: search.query)"
                                ng-click="goToJob(job)" style="cursor: pointer;">
                                    <td>
                                        <span><swa-job-state state="{{job.state}}" reason="{{job.reasonWaiting}}"></swa-job-state> {{job.id}}</span>
                                    </td>
                                    <td>
                                        <span>{{job.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{job.username}}</span>
                                    </td>
                                    <td>
                                        <span>{{job.partition}}</span>
                                    </td>
                                    <td ng-show="search.jobsType == 'pending'" class="td-timer">
                                        <i class="fa fa-clock-o" style="color:gray"> </i>
                                        <span ng-show="job.timeLeftExecute">
                                            <timer end-time="job.timeLeftExecute.toString()*1000" interval="1000">
                                                <span ng-show="days">{{days}}j</span>
                                                <span ng-show="hours">{{hhours}}h</span>
                                                <span ng-show="minutes">{{mminutes}}m</span>
                                                <span ng-show="seconds">{{sseconds}}s</span>
                                            </timer>
                                        </span>
                                        <span ng-hide="job.timeLeftExecute">?</span> {{job.timeJobUsed}}
                                    </td>
                                    <td ng-show="search.jobsType == 'running'" class="td-timer"><br/>
                                        <i class="fa fa-clock-o" style="color:gray"> </i>
                                        <span ng-show="job.timeJobEnd">
                                            <timer end-time="job.timeJobEnd.toString()*1000" interval="1000">
                                                <span ng-show="days">{{days}}j</span>
                                                <span ng-show="hours">{{hhours}}h</span>
                                                <span ng-show="minutes">{{mminutes}}m</span>
                                                <span ng-show="seconds">{{sseconds}}s</span>
                                            </timer>
                                        </span>
                                        <span ng-hide="job.timeJobEnd">?</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped"
                                            role="progressbar"
                                            style="height: 30px;width: {{(((timestamp*1)-(job.timeJobStart*1)) / ((job.timeJobEnd*1) - (job.timeJobStart*1))*100)|number:0}}%;">
                                                <span>{{(((timestamp*1)-(job.timeJobStart*1)) / ((job.timeJobEnd*1) - (job.timeJobStart*1))*100)|number:0}}% </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-show="search.jobsType == 'running'" class="td-timer">
                                        <i class="fa fa-clock-o" style="color:gray"> </i>
                                        <span ng-show="job.timeJobStart">
                                            <timer start-time="job.timeJobStart.toString()*1000" interval="1000">
                                                <span ng-show="days">{{days}}j</span>
                                                <span ng-show="hours">{{hhours}}h</span>
                                                <span ng-show="minutes">{{mminutes}}m</span>
                                                <span ng-show="seconds">{{sseconds}}s</span>
                                            </timer>
                                        </span>
                                        <span ng-hide="job.timeJobStart">?</span>
                                    </td>
                                    <td >
                                        <span>{{job.nbCPU}}</span>
                                    </td>
                                    <td ng-show="search.jobsType == 'running'">
                                        <span><!--<button ng-show="job.nodes != null" class="btn btn-xs btn-info" style="width:80px;">-->{{job.nodes}}<!--</button>--></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="!filteredJobs.length">
                        <p class="text-center"><i>Aucun jobs</i></p>
                    </div>
                </rd-widget-body>
            </rd-widget>
            Légende :   <swa-job-state state="COMPLETED" description="true"></swa-job-state>
                        <swa-job-state state="COMPLETING" description="true"></swa-job-state>
                        <swa-job-state state="CONFIGURING" description="true"></swa-job-state>
                        <swa-job-state state="PENDING" description="true"></swa-job-state>
                        <swa-job-state state="RUNNING" description="true"></swa-job-state>
                        <swa-job-state state="SUSPENDED" description="true"></swa-job-state>
                        <swa-job-state state="CANCELLED" description="true"></swa-job-state>
                        <swa-job-state state="TIMEOUT" description="true"></swa-job-state>
                        <swa-job-state state="FAILED" description="true"></swa-job-state>
                        <swa-job-state state="NODE_FAIL" description="true"></swa-job-state>
                        <swa-job-state state="PREEMPTED" description="true"></swa-job-state>
        </div>
    </div>
</div>
