<div style="background: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #B9B9B9;
    margin-bottom:4px;
    ">
    <div style="padding:5px;border-bottom: 1px dashed #A2A2A2;
    background-color: #DEDEDE;border-radius: 5px;">
                <i class="fa fa-cog fa-spin" ng-show="loadingEstimation"></i>
                <button class="btn btn-default btn-xs"
                    ng-click="actualiseEstimation()"
                    ng-hide="loadingEstimation">
                    <i class="fa fa-refresh"></i>
                </button>
                Estimation : <i ng-if="estimation == false">Aucune estimation</i>
                <i ng-if="estimation != false">
                    <i class="fa fa-hourglass-start"></i>
                    <span ng-if="estimation.timeAgo <= 0"> Maintenant </span>
                    <span ng-if="estimation.timeAgo > 0">
                        <timer end-time="estimation.estimatedTime.toString()*1000" interval="1000">
                            <span ng-show="days">{{days}}j </span>
                            <span ng-show="hours">{{hhours}}h </span>
                            <span ng-show="minutes">{{mminutes}}m </span>
                            <!--<span ng-show="seconds">{{sseconds}}s</span>-->
                        </timer>
                    </span>
                    <span style="margin-left:10px;">
                        <i class="fa fa-circle"></i> {{estimation.nbProcessors}} CPUs
                    </span>
                    <span style="margin-left:10px;">
                        <i class="fa fa-clone"></i> {{estimation.nodes}}
                    </span>
                </i>
                <i ng-if="estimationError" class="text-danger">
                    (erreur lors de l'estimation)
                </i>
    </div>
    <div style="width:100%; margin-top:1x;padding: 2px; height: auto; overflow:overlay;max-height:400px;">
        <span style="    margin-top: 1px;
    float: left;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 2px;
    padding-top: 6px;
    padding-left:10px;
    overflow: hidden;
    border: 1px solid #B9B9B9;
    border-radius:2px;" ng-repeat="partition in (partitions | orderBy : partitionOrder)"
        ng-init="name = partition.PartitionName"
        ng-click="itemClick(partition)"
        ng-class="{'bg-primary' : name == selected, 'item-selected' : name != selected, 'striped' : partition.advice.type == 'disabled'}">

                    <input type="radio" ng-model="selected"
                    ng-value="name"
                    ng-disabled="partition.advice.type == 'disabled'"
                    style="display: none;"
                    />
                    <i ng-class="{'fa fa-check text-success' : partition.advice.type == 'enabled',
                                  'fa fa-times text-danger' : partition.advice.type == 'disabled',
                                  'fa fa-times text-warning' : partition.advice.type == 'discouraged'}"
                        style="font-size:20px;">
                    </i>
                    <span style="/*width:25%;*/display:inline-block;font-weight:bold">{{name}}</span> <small style="" ng-if="partition.advice.reason !== ''"> - {{partition.advice.reason}}</small>
                    <div class="container-fluid" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        <div class="row">
                            <div class="col-xs-12 col-md-6" style="margin-bottom:0px;">
                                Temps limite :
                                <em>
                                    <span class="">
                                        <span ng-if="partition.MaxTime.Unlimited">&infin;</span>
                                        <span ng-if="!partition.MaxTime.Unlimited">
                                            <span ng-show="partition.MaxTime.Days">{{partition.MaxTime.Days}}j </span>
                                            <span ng-show="partition.MaxTime.Hours">{{partition.MaxTime.Hours}}h </span>
                                            <span ng-show="partition.MaxTime.Minutes">{{partition.MaxTime.Minutes}}m </span>
                                            <span ng-show="partition.MaxTime.Seconds">{{partition.MaxTime.Seconds}}m </span>
                                        </span>
                                    </span>
                                </em>
                            </div>
                            <div class="col-xs-12 col-md-6" style="margin-bottom:0px;">
                                Noeud min-max : <em><span class="">{{partition.MinNodes}} à {{partition.MaxNodes == 'UNLIMITED' ? '&infin;' : partition.MaxNodes}}</span></em>
                            </div>
                            <div class="col-xs-12 col-md-6" style="margin-bottom:0px;">
                                CPUs/noeud max : <em><span class="">{{partition.MaxCPUsPerNode == 'UNLIMITED' ? '&infin;' : partition.MaxCPUsPerNode}}</span></em>
                            </div>
                            <div class="col-xs-12 col-md-6" style="margin-bottom:0px;">
                                Mémoire/noeud : <em><span class="">{{partition.MaxMemPerNode == 'UNLIMITED' ? '&infin;' : partition.MaxMemPerNode}}</span></em>
                            </div>
                            <div class="col-xs-12 col-md-6" style="margin-bottom:0px;">
                                CPUs Total : <em><span class="">{{partition.TotalCPUs}}</span></em>
                            </div>
                        </div>
                    </div>
    </span>
    </div>
</div>
