<div data-ng-controller="SubmissionCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Général">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <form class="form-horizontal">
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.submissionType" btn-radio="'submission'" >Soumission</label>
                                    <label class="btn btn-primary" ng-model="parameters.submissionType" btn-radio="'estimation'" >Estimation</label>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.userType" btn-radio="'novice'" >Novice</label>
                                    <label class="btn btn-primary" ng-model="parameters.userType" btn-radio="'expert'" >Expert</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Soumission préfédinie </label>
                            <div class=" col-sm-6">
                                <swa-loading states="loadings" state-name="predefinedSubmissions">
                                    <ol class="nya-bs-select form-control" ng-model="job.predefinedSubmission" data-live-search="true">
                                      <li nya-bs-option="predefinedSubmission in predefinedSubmissions group by predefinedSubmission.group">
                                        <span class="dropdown-header" ng-if="$group"}}>{{$group}}</span>
                                        <a ng-click="updateJobByPredefinedSubmission(predefinedSubmission)" ng-hide="predefinedSubmission.hide">
                                          <span>{{ predefinedSubmission.name }}</span>
                                          <span class="small">{{ predefinedSubmission.subtitle }}</span>
                                          <span class="glyphicon glyphicon-ok check-mark"></span>
                                        </a>
                                      </li>
                                    </ol>
                                </swa-loading>
                            </div>
                        </div>

                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice'">
                            <label class="col-sm-3 control-label">Nombre de tâche </label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" ng-model="job.nbTasks" placeholder="">
                            </div>
                            <label class="col-sm-3 control-label">CPU par tâche </label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" ng-model="job.nbCPUsPerTasks" placeholder="">
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice'">

                            <label class="col-sm-3 control-label">Mémoire </label>
                            <div class="col-sm-2">
                              <input type="checkbox" id="memoryDefault" ng-click="job.memory.value=0" ng-model="job.memory.default">
                              <label class="control-label" for="memoryDefault">Défaut</label>
                            </div>
                            <div class="col-sm-3" ng-hide="job.memory.default">
                              <input type="number" class="form-control" ng-model="job.memory.value" placeholder="">
                            </div>
                            <div class="col-sm-3" ng-hide="job.memory.default">
                                <ol id="singleSelection" class="nya-bs-select" ng-model="job.memory.unit">
                                    <li class="nya-bs-option" data-value="">
                                        <a>o</a>
                                    </li>
                                    <li class="nya-bs-option" data-value="KB">
                                        <a>Ko</a>
                                    </li>
                                    <li class="nya-bs-option" data-value="MB">
                                        <a>Mo</a>
                                    </li>
                                    <li class="nya-bs-option" data-value="GB">
                                        <a>Go</a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="form-group animate-hide">
                            <label class="col-sm-3 control-label">Temps limite </label>
                            <div class="col-sm-9">
                              <!--<input type="text" class="form-control" ng-model="job.timeLimit" placeholder="Ex: 2-12:00:00" uib-datepicker-popup="d-H:m:s" datepicker-popup="d-H:m:s">-->
                              <table class="table-responsive">
                                  <tr>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.days" placeholder="" style="max-width:100px;margin:1px;"> Jours</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.hours" placeholder="" style="max-width:100px;margin:1px;"> Heures</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.minutes" placeholder="" style="max-width:100px;margin:1px;"> Minutes</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.seconds" placeholder="" style="max-width:100px;margin:1px;"> Secondes</td>
                                  </tr>
                              </table>
                            </div>
                        </div>
                        <swa-partitions-estimation selected="job.partition" job-to-estimate="job"></swa-partitions-estimation>
                        <!--<div class="form-group animate-hide">
                            <label class="col-sm-3 control-label">Partition </label>
                            <div class="col-sm-9">
                              <ol id="values-example" class="nya-bs-select"  data-live-search="true" ng-model="jobPartition" data-selected-text-format="values">
                                <li nya-bs-option="(name, partition) in partitions">
                                  <a>
                                    {{name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                  </a>
                                </li>
                              </ol>
                            </div>
                        </div>-->

                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Nom du job </label>
                            <div class="col-sm-9">
                              <input type="name" class="form-control" ng-model="job.name" placeholder="Nom">
                            </div>
                        </div>

                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Fichier sortie standard</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="job.fileStdOut" placeholder="slurm.o">
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Fichier sortie erreur</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="job.fileStdErr" placeholder="slurm.e">
                            </div>
                        </div>
                        <div class="form-group animate-hide"  ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Modules {{loadings['modules'].state}}
                            </label>
                            <div class="col-sm-4">
                                <swa-loading states="loadings" state-name="modules">
                                  <ol class="nya-bs-select form-control"  data-live-search="true" ng-model="job.module"
                                      data-selected-text-format="values"
                                      data-size="5" >
                                    <li nya-bs-option="module in modules"
                                        ng-click="updateModuleDependencies(module)">
                                      <a>
                                        {{module}}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                  </ol>
                              </swa-loading>
                          </div>
                          <div class="col-sm-5">
                              <swa-loading states="loadings" state-name="moduleDependencies" state-init="nothing">
                                  <div ng-show="moduleDependencies.length > 1">
                                        <ol class="nya-bs-select form-control"
                                            ng-model="job.moduleDependencies"
                                            data-selected-text-format="values"
                                            data-size="5" >
                                          <li nya-bs-option="dep in moduleDependencies">
                                            <a>
                                              {{dep}}
                                              <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                          </li>
                                        </ol>
                                  </div>
                                  <div ng-show="moduleDependencies.length <= 1">
                                        <small class="control-label"
                                            style="display: block;float: left;"
                                            ng-show="moduleDependencies.length == 0">
                                            Pas de dépendances
                                        </small>
                                        <small class="control-label"
                                            style="display: block;float: left;"
                                            ng-show="moduleDependencies.length == 1">
                                            {{job.moduleDependencies}}
                                        </small>
                                  </div>
                              </swa-loading>
                          </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Licences </label>
                            <div class="col-sm-9">
                              <swa-loading states="loadings" state-name="licenses">
                                  <ol class="nya-bs-select form-control" ng-model="job.licenses" data-selected-text-format="values"  data-live-search="true" multiple>
                                    <li nya-bs-option="license in licenses track by license.LicenseName" value="license.LicenseName">
                                      <a>
                                        <span>{{license.ShortName}}
                                            <small ng-class="{'text-danger' : license.Free <= 0, 'text-warning' : (license.Used / license.Total) >= 0.5, 'text-muted' : (license.Used / license.Total) < 0.5}">
                                                {{ license.Free }} sur {{ license.Total }}  restant<span ng-if="license.Free > 1">s</span>
                                            </small>
                                        </span>
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                  </ol>
                              </swa-loading>
                            </div>
                        </div>


                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Notification email</label>
                            <div class="col-sm-9">
                               <div class="input-group">
                                   <span class="input-group-addon">
                                       <input type="checkbox" ng-model="job.notification">
                                   </span>
                                   <input type="text" style="" class="form-control" ng-model="job.notificationEmail" placeholder="email">
                                    <ol class="nya-bs-select form-control" ng-model="job.notificationEvents" data-selected-text-format="values" multiple>
                                     <li nya-bs-option="option in notificationEvents">
                                       <a>
                                         {{option.name}}
                                         <span class="glyphicon glyphicon-ok check-mark"></span>
                                       </a>
                                     </li>
                                   </ol>
                               </div>
                            </div>
                        </div>
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <label class="btn btn-primary" ng-show="parameters.submissionType == 'estimation'">Estimer</label>
                            </div>
                        </div>
                    </form>
                </rd-widget-body>
            </rd-widget>
            <rd-widget ng-hide="parameters.submissionType == 'estimation'">
                <rd-widget-header icon="fa-tasks" title="Fichier">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <form class="form-horizontal">
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.execFileType" btn-radio="'paste'" >Coller</label>
                                    <label class="btn btn-primary" ng-model="parameters.execFileType" btn-radio="'select'" >Selectionner</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="parameters.execFileType == 'paste'">
                          <label for="job.script">Coller votre script :</label>
                          <textarea class="form-control" rows="10" ng-model="job.script"></textarea>
                        </div>

                        <div class="form-group" ng-show="parameters.execFileType == 'select'" >
                            <label>Fichier séléctionné : </label>
                            <span ng-if="job.fileSelected == undefined">
                                <i>aucun</i>
                            </span>
                            <span ng-if="job.fileSelected != undefined">
                                {{jobFileSelected}}
                            </span>

                            <swa-files-browser selectable="true" selected="job.fileSelected" tableStyle="height:50px;overflow:scroll" ></swa-files-browser>
                        </div>

                        <div class="form-group animate-hide">
                            <label class="col-sm-2 control-label">Arguments </label>
                            <div class="col-sm-6">
                              <input type="name" class="form-control" ng-model="job.execArguments" placeholder="Ex: arg1 arg2 arg3">
                            </div>
                        </div>
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <label class="btn btn-primary" ng-show="parameters.submissionType == 'submission'">Soumettre</label>
                            </div>
                        </div>
                    </form>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
