<div data-ng-controller="SubmissionCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Projet">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <form class="form-horizontal">
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.projectType" btn-radio="'new'" >Nouveau</label>
                                    <label class="btn btn-primary" ng-model="parameters.projectType" btn-radio="'load'" >Charger</label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div ng-if="parameters.projectType == 'new'">
                                    Séléctionnez le dossier du projet, où créer le fichier batch
                                </div>
                                <div ng-if="parameters.projectType == 'load'">
                                    Séléctionnez le fichier batch à charger
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <swa-files-browser
                                    ng-if="parameters.projectType == 'new'"
                                    selectable="true"
                                    selected="parameters.projectFolder"
                                    selectable-types='["folder"]'
                                    tableStyle="height:50px;overflow:scroll" >
                                </swa-files-browser>
                                <swa-files-browser
                                    ng-if="parameters.projectType == 'load'"
                                    selectable="true"
                                    selected="parameters.loadBatchFilepath"
                                    tableStyle="height:50px;overflow:scroll"
                                    on-file-selected="loadSubmissionScript">
                                </swa-files-browser>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Dossier du projet </label>
                            <div class="col-sm-5">
                                <span ng-if="parameters.projectFolder">{{parameters.projectFolder}}</span>
                                <i ng-if="!parameters.projectFolder">Auncun dossier</i>
                            </div>
                        </div>
                        <div class="row" ng-if="parameters.projectType == 'load'">
                            <label class="col-sm-3 control-label">Fichier original </label>
                            <div class="col-sm-5">
                                <span ng-if="parameters.loadBatchFilepath">{{parameters.loadBatchFilepath}}</span>
                                <i ng-if="!parameters.loadBatchFilepath">Auncun dossier</i>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Nom du fichier </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                    ng-model="parameters.batchFilename" placeholder=""
                                    ng-init="parameters.batchFilename='job.sh'">
                            </div>
                        </div>
                    </form>

                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row" ng-if="parameters.projectFolder">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Général">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <form class="form-horizontal">
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.submissionType" btn-radio="'submission'" >Soumission</label>
                                    <label class="btn btn-primary" ng-model="parameters.submissionType" btn-radio="'estimation'" >Estimation</label>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="btn-group" style="margin:2px;">
                                    <label class="btn btn-primary" ng-model="parameters.userType" btn-radio="'novice'" >Novice</label>
                                    <label class="btn btn-primary" ng-model="parameters.userType" btn-radio="'expert'" >Expert</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Soumission préfédinie </label>
                            <div class=" col-sm-6">
                                <swa-loading states="loadings" state-name="predefinedSubmissions">
                                    <ol class="nya-bs-select form-control" ng-model="job.predefinedSubmission" data-live-search="true" ng-change="predefinedSubmissionChange()">
                                      <li nya-bs-option="predefinedSubmission in predefinedSubmissions group by predefinedSubmission.group track by predefinedSubmission.name"
                                            value="predefinedSubmission.name">
                                        <span class="dropdown-header" ng-if="$group"}}>{{$group}}</span>
                                        <a ng-hide="predefinedSubmission.hide">
                                          <span>{{ predefinedSubmission.name }}</span>
                                          <span class="small">{{ predefinedSubmission.subtitle }}</span>
                                          <span class="glyphicon glyphicon-ok check-mark"></span>
                                        </a>
                                      </li>
                                    </ol>
                                </swa-loading>
                            </div>
                        </div>

                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice'">
                            <label class="col-sm-3 control-label">Nombre de tâche </label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" ng-model="job.nbTasks" placeholder="">
                            </div>
                            <label class="col-sm-3 control-label">CPU par tâche </label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" ng-model="job.nbCPUsPerTasks" placeholder="">
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice'">

                            <label class="col-sm-3 control-label">Mémoire </label>
                            <div class="col-sm-2">
                              <input type="checkbox" id="memoryDefault" ng-click="job.memory.value=0" ng-model="job.memory.default">
                              <label class="control-label" for="memoryDefault">Défaut</label>
                            </div>
                            <div class="col-sm-3" ng-hide="job.memory.default">
                              <input type="number" class="form-control" ng-model="job.memory.value" placeholder="">
                            </div>
                            <div class="col-sm-3" ng-hide="job.memory.default">
                                <ol id="singleSelection" class="nya-bs-select" ng-model="job.memory.unit">
                                    <li class="nya-bs-option" data-value="MB">
                                        <a>Mo</a>
                                    </li>
                                    <li class="nya-bs-option" data-value="GB">
                                        <a>Go</a>
                                    </li>
                                    <li class="nya-bs-option" data-value="TB">
                                        <a>To</a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="form-group animate-hide">
                            <label class="col-sm-3 control-label">Temps limite </label>
                            <div class="col-sm-9">
                              <!--<input type="text" class="form-control" ng-model="job.timeLimit" placeholder="Ex: 2-12:00:00" uib-datepicker-popup="d-H:m:s" datepicker-popup="d-H:m:s">-->
                              <table class="table-responsive">
                                  <tr>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.days" placeholder="" style="max-width:100px;margin:1px;"> Jours</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.hours" placeholder="" style="max-width:100px;margin:1px;"> Heures</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.minutes" placeholder="" style="max-width:100px;margin:1px;"> Minutes</td>
                                      <td><input type="number" class="form-control" ng-model="job.timeLimit.seconds" placeholder="" style="max-width:100px;margin:1px;"> Secondes</td>
                                  </tr>
                              </table>
                            </div>
                        </div>
                        <div class="form-group animate-hide">
                            <div class="col-sm-12">
                                <swa-partitions-estimation selected="job.partition" job-to-estimate="job"></swa-partitions-estimation>
                            </div>
                        </div>

                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Nom du job </label>
                            <div class="col-sm-9">
                              <input type="name" class="form-control" ng-model="job.name" placeholder="Nom">
                            </div>
                        </div>

                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Fichier sortie standard</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="job.fileStdOut" placeholder="slurm.o">
                            </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Fichier sortie erreur</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="job.fileStdErr" placeholder="slurm.e">
                            </div>
                        </div>
                        <div class="form-group animate-hide"  ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Modules {{loadings['modules'].state}}
                            </label>
                            <div class="col-sm-5">
                                <swa-loading states="loadings" state-name="modules">
                                    <div class="input-group">

                                          <ol class="nya-bs-select form-control"  data-live-search="true" ng-model="job.modules.module"
                                              data-size="5"
                                              style="z-index:999"
                                              ng-change="updateModuleDependencies(job.modules.module, true)">
                                            <li nya-bs-option="module in modules">
                                              <a>
                                                {{module}}
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                              </a>
                                            </li>
                                          </ol>
                                          <span class="input-group-btn">
                                             <button class="btn btn-default" type="button"
                                                ng-click="resetModule()"><i class="fa fa-times"></i></button>
                                         </span>
                                      </div>
                              </swa-loading>
                          </div>
                          <div class="col-sm-4">
                              <swa-loading states="loadings" state-name="moduleDependencies" state-init="nothing"
                                 ng-if="job.modules.module">
                                  <div ng-if="moduleDependencies && moduleDependencies.length > 1">
                                        <ol class="nya-bs-select form-control"
                                            ng-model="job.modules.dependencies"
                                            title="{{job.modules.dependencies}}"
                                            data-size="5" >
                                          <li nya-bs-option="dep in moduleDependencies" data-value="dep">
                                            <a>
                                              {{dep}}
                                              <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                          </li>
                                        </ol>
                                  </div>

                                    <small class="control-label"
                                        style="display: block;float: left;"
                                        ng-if="moduleDependencies == null || moduleDependencies.length == 0">
                                        Pas de dépendances
                                    </small>
                                    <small class="control-label"
                                        style="display: block;float: left;"
                                        ng-if="moduleDependencies && moduleDependencies.length == 1">
                                        {{moduleDependencies[0]}}
                                    </small>

                              </swa-loading>
                          </div>
                        </div>
                        <div class="form-group animate-hide" ng-hide="parameters.userType == 'novice' || parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Licences </label>
                            <div class="col-sm-9">
                              <swa-loading states="loadings" state-name="licenses">
                                  <ol class="nya-bs-select form-control" ng-model="job.licenses"
                                  data-live-search="true" multiple
                                  >
                                    <li nya-bs-option="license in licenses track by license.licenseName" value="license.licenseName">
                                      <a>
                                        <span>{{license.shortName}}
                                            <small ng-class="{'text-danger' : license.free <= 0,
                                                            'text-warning' : (license.used / license.total) >= 0.5,
                                                            'text-muted' : (license.used / license.total) < 0.5}">
                                                {{ license.free }} sur {{ license.total }}  restant<span ng-if="license.free > 1">s</span>
                                            </small>
                                        </span>
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                  </ol>
                             </swa-loading>
                            </div>
                        </div>


                        <div class="form-group animate-hide" ng-hide="parameters.submissionType == 'estimation'">
                            <label class="col-sm-3 control-label">Notification email</label>
                            <div class="col-sm-5">
                               <div class="input-group">
                                   <input type="text" style="" class="form-control" ng-model="job.notificationEmail" placeholder="email">
                                    <ol actions-box="true" class="nya-bs-select form-control" ng-model="job.notificationEvents" multiple>
                                     <li nya-bs-option="option in notificationEvents track by option.value"
                                         value="option.value">
                                       <a>
                                         {{option.name}}
                                         <span class="glyphicon glyphicon-ok check-mark"></span>
                                       </a>
                                     </li>
                                   </ol>
                                   <span class="input-group-btn">
                                       <button class="btn btn-default" type="button"
                                       style="margin-top: 0px;height: 69px;margin-bottom: 0px;"
                                          ng-click="resetNotifications()"><i class="fa fa-times"></i></button>
                                   </span>
                               </div>
                            </div>
                        </div>
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <label class="btn btn-primary" ng-show="parameters.submissionType == 'estimation'">Estimer</label>
                            </div>
                        </div>
                    </form>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-12" ng-if="parameters.projectFolder">
            <rd-widget ng-hide="parameters.submissionType == 'estimation'">
                <rd-widget-header icon="fa-tasks" title="Fichier">
                </rd-widget-header>
                <rd-widget-body classes="">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <label for="job.script" class="col-sm-2 control-label">Commande</label>

                          <div class="col-sm-6">
                            <input type="name" class="form-control" ng-model="job.execution.executable" placeholder="R">
                          </div>
                          <div class="col-sm-2">
                              <a class="btn btn-primary" ng-click="editCommand()">Editer</a>
                          </div>
                        </div>

                        <div class="form-group animate-hide">
                            <label class="col-sm-2 control-label">Arguments </label>
                            <div class="col-sm-6">
                              <input type="name" class="form-control" ng-model="job.execution.arguments" placeholder="Ex: arg1 arg2 arg3"
                                ng-mouseup="updateArgsCursorPos($event)"
                                ng-mousedown="updateArgsCursorPos($event)"
                                ng-click="updateArgsCursorPos($event)"
                                 id="inputArgs" ng-keyup="updateArgsCursorPos($event)" ng-blur="inputArgsBlur()">
                            </div>
                            <div class="col-sm-2">

                                <a class="btn btn-primary" ng-if="!argsCursorPos.blur && argsCursorPos.begin != argsCursorPos.end" ng-click="editOrAddArgs()">Editer fichier</a>

                                <a class="btn btn-primary" ng-if="!argsCursorPos.blur &&argsCursorPos.begin == argsCursorPos.end" ng-click="editOrAddArgs()">Ajouter fichier</a>
                            </div>
                        </div>
                        <div class="form-group animate-hide">
                            <div class="col-md-5 col-sm-5">
                                <label class="btn btn-primary" ng-show="parameters.submissionType == 'submission'"
                                        ng-click="submitJob()">Soumettre</label>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <label class="btn btn-primary" ng-show="parameters.submissionType == 'submission'"
                                        ng-click="visualizeScript()">Visualiser script</label>
                            </div>
                        </div>
                    </form>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
