label {
    font-weight: normal;
    color: #6A6F7D;
}

.table-responsive {
    margin-bottom: 0px;
}

/* Scroll bar horinzontal instead of new line in pre */
pre{
    word-wrap: inherit !important;
}

td{
    vertical-align: middle !important;
}

td .fa{
    font-size: 18px !important;
}

.td-timer{
     width:160px;
     font-family: monospace;
     text-align:middle;
     word-spacing: -4px;
}
