label {
    font-weight: normal;
    color: #6A6F7D;
}

.table-responsive {
    margin-bottom: 0px;
}

/* Scroll bar horinzontal instead of new line in pre */
pre{
    word-wrap: inherit !important;
}

td{
    vertical-align: middle !important;
}

td .fa{
    font-size: 18px !important;
}

.td-timer{
     //width:170px;
     font-family: monospace;
     text-align:middle;
     word-spacing: -6px;
}

.progress {
    background-color: #949494;
    position: relative;
    max-width: 200px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
 }

 .widget{
     overflow: visible;
 }

a:hover,a:focus{
    text-decoration: blink !important;
}

.row.header .user {
    min-width: auto;
}
.row.header .meta div {
    white-space: normal;
}

.row.header .meta div{
    line-height: 19px;
    font-size: 17px;
    margin-left: 50px;
    margin-top: 15px;
    padding-top: 0px;
    vertical-align: middle;
    height: 55px;
    display: table-cell;
}

.animate-hide {
  transition: all linear 2s;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
}

.item-selected {
    background: #F1F1F1;
}

.striped{
    background: repeating-linear-gradient( 45deg, #DADADA, #D0D0D0 10px, #BFBFBF 10px, #D8D8D8 20px );
}
